In [ ]:
import pandas as pd
import numpy as np
num_student=1000
num_subject=8
np.random.seed(42)
student=[f"student_{i+1}" for i in range(num_student)]
subject=[f"subject_{j+1}" for j in range(num_subject)]
grades=np.random.randint(40,100,size=(num_student,num_subject))
df=pd.DataFrame(grades,columns=subject)
df.insert(0,"Name",student)
print("===sample of raw data ===")
print(df.head())

===sample of raw data ===
        Name  subject_1  subject_2  subject_3  subject_4  subject_5  \
0  student_1         78         91         68         54         82
1  student_2         97         58         62         50         50
2  student_3         79         63         42         61         92
3  student_4         69         77         41         99         60
4  student_5         61         83         64         88         66

   subject_6  subject_7  subject_8
0         47         60         78
1         63         92         75
2         41         63         83
3         72         51         97
4         98         81         67

In [ ]:
df["Average"] = df[subject].mean(axis=1).round(2)
def grade_class(avg):
  if avg >=90:
    return "A+"
  elif avg >=80:
      return "A"
  elif avg >=70:
      return "B"
,  elif avg >=60:
      return "C"
  elif avg >=50:
      return "D"
  else:
      return "F"

df["grade"] = df["Average"].apply(grade_class)
df.head()

,Name,subject_1,subject_2,subject_3,subject_4,subject_5,subject_6,subject_7,subject_8,Average,grade
0,student_1,78,91,68,54,82,47,60,78,69.75,C
1,student_2,97,58,62,50,50,63,92,75,68.38,C
2,student_3,79,63,42,61,92,41,63,83,65.50,C
3,student_4,69,77,41,99,60,72,51,97,70.75,B
4,student_5,61,83,64,88,66,98,81,67,76.00,B

In [ ]:
print(">>> Class Statistics <<<")
print("total students",len(df))
print("avg score overall",df[subject].values.mean().round(2))
print("highest avg",df['Average'].max())
print("lowest avg",df['Average'].min())
print("number of A+ student",(df['grade']=="A+").sum(),"\n")

>>> Class Statistics <<<
total students 1000
avg score overall 69.84
highest avg 88.5
lowest avg 51.62
number of A+ student 0

In [ ]:
print(">> subject wise stats >>")
subject_summary = df[subject].describe().round(2)
print(subject_summary,"\n")

>> subject wise stats >>
       subject_1  subject_2  subject_3  subject_4  subject_5  subject_6  \
count    1000.00    1000.00    1000.00    1000.00    1000.00    1000.00
mean       70.72      69.05      69.14      70.19      69.34      69.93
std        17.07      17.30      17.35      17.21      17.27      17.71
min        40.00      40.00      40.00      40.00      40.00      40.00
25%        57.00      54.00      55.00      56.00      54.00      55.00
50%        71.00      68.00      68.00      71.00      69.00      71.00
75%        86.00      85.00      84.00      84.00      84.00      85.00
max        99.00      99.00      99.00      99.00      99.00      99.00

       subject_7  subject_8
count    1000.00    1000.00
mean       69.78      70.59
std        17.33      17.24
min        40.00      40.00
25%        55.00      56.00
50%        71.00      71.00
75%        85.00      86.00
max        99.00      99.00

In [ ]:
top_st =df.nlargest(10,"Average")[["Name","Average","grade"]]
btm_st = df.nsmallest(10,"Average")[["Name","Average","grade"]]

print("top 10 students")
print(top_st,"\n")
print("bottom 10 students")
print(btm_st,"\n")

top 10 students
            Name  Average grade
998  student_999    88.50     A
466  student_467    88.12     A
739  student_740    88.00     A
646  student_647    87.25     A
457  student_458    85.88     A
779  student_780    85.88     A
869  student_870    85.62     A
328  student_329    84.75     A
405  student_406    84.62     A
626  student_627    84.62     A

bottom 10 students
            Name  Average grade
480  student_481    51.62     D
810  student_811    52.62     D
156  student_157    53.62     D
382  student_383    54.25     D
592  student_593    54.62     D
719  student_720    54.75     D
15    student_16    54.88     D
973  student_974    55.12     D
394  student_395    55.50     D
294  student_295    56.00     D

In [ ]:
print(">> extra fun analysis >>")

corr = df[subject].corr().round(2)
print("subject Correlation Matrix:")
print(corr,"\n")

highest_mean_sb = df[subject].mean().idxmax()
print(f"subject with highest average score:{highest_mean_sb}")

fail_cnt = (df[subject] < 50).sum()
worst_subject = fail_cnt.idxmax()
print(f"subjects with most fails: {worst_subject}({fail_cnt[worst_subject]}fails)\n")

>> extra fun analysis >>
subject Correlation Matrix:
           subject_1  subject_2  subject_3  subject_4  subject_5  subject_6  \
subject_1       1.00      -0.04       0.05      -0.03      -0.02      -0.01
subject_2      -0.04       1.00       0.03      -0.01       0.01      -0.02
subject_3       0.05       0.03       1.00       0.03       0.01       0.02
subject_4      -0.03      -0.01       0.03       1.00      -0.09       0.00
subject_5      -0.02       0.01       0.01      -0.09       1.00       0.03
subject_6      -0.01      -0.02       0.02       0.00       0.03       1.00
subject_7       0.00       0.02       0.04       0.01      -0.03      -0.01
subject_8       0.02       0.01       0.02       0.04       0.02       0.01

           subject_7  subject_8
subject_1       0.00       0.02
subject_2       0.02       0.01
subject_3       0.04       0.02
subject_4       0.01       0.04
subject_5      -0.03       0.02
subject_6      -0.01       0.01
subject_7       1.00       0.05
subject_8       0.05       1.00

subject with highest average score:subject_1
subjects with most fails: subject_3(173fails)

In [ ]:
df.to_csv("student_results.csv",index=False)
print("data saved to 'student_result.csv'")
print("\n=== PROGRAM COMMPLETE ===")

data saved to 'student_result.csv'

=== PROGRAM COMMPLETE ===